<%provide(:title, @user.nickname)%>
<p id="notice"><%= notice %></p>

<p>
  <strong>Nickname:</strong>
  <%= @user.nickname %>
</p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>
<h2>Your Friends</h2>
<ul>
  <% for friendship in @user.friendships %>
  <li>
    <%= link_to friendship.friend.nickname, friendship.friend%>
    (<%= link_to "remove", friendship, :method => :delete %>)
  </li>
  <% end %>  
</ul>
<h2>Users Who Have Befriended You</h2>
<ul>
  <% for user in @user.inverse_friends %>
  <li><%= link_to user.nickname, user %></li>
  <% end %>
</ul>
<% if @user.id == session[:userid] %>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to "Find Friends", users_path %> |
<%end%>
<%= link_to 'Back', users_path %>
