<%= form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :room %><br>
    <%= f.text_field :room %>
  </div>
  <div class="field">
    <%= f.label :max_players %><br>
    <%= f.select :max_players, [7,10], selected: 7 %>
  </div>
  <div class="field">
    <%= f.label :kind %><br>
    <%= f.select :kind, Game.kinds.keys, selected: :orig %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
